@{
    ViewBag.Title = "UploadResume";
}

<h2>Upload Resume</h2>
<hr class="divider" />

@using (Html.BeginForm("UploadResume", "JobSeeker", FormMethod.Post, new { enctype="multipart/form-data"}))
{
    <div class="form-group">
        <div>
            @Html.TextBox("file", "", new { type = "file" })
        </div>
        <br />
        <div>
            <input type="submit" value="Upload Resume" class="btn btn-default text-left" />
            @ViewBag.Message
        </div>
    </div>
}
