@{
    ViewBag.Title = "Index";
}

<div class="jumbotron">
    <h1>JobPortal</h1>
    <p class="lead">
        JobPortal is a free online job portal. We welcome you to use this wonderful online job portal: <br />
        Job Seekers => find your dream job!!!!
        <br />
        Recruiters => find the right candidate!!!!
    </p>
</div>
