@model IEnumerable<JobPortal.Models.DynamicActionLink>

@if (Model != null)
{
    foreach (var item in Model)
    {
        <div class="col-md-1" style="padding:5px 0px 5px 0px">
            @Ajax.ActionLink(item.LinkName, item.LinkAction,
                new { searchBy = item.LinkSearchBy, searchValue = item.LinkSearchValue },
                new AjaxOptions
                {
                    HttpMethod = "GET", // HttpMethod to use, GET or POST
                    UpdateTargetId = "divJobs", // ID of the HTML element to update
                    InsertionMode = InsertionMode.Replace, // Replace the existing contents
                    OnBegin = "ClearDivJobs"
                }, new { style="text-decoration:underline"})
        </div>
    }
}
