@using (Ajax.BeginForm("QuickSearchJobs", "Home", new AjaxOptions
{
    HttpMethod = "GET", // HttpMethod to use, GET or POST
    UpdateTargetId = "divJobs", // ID of the HTML element to update
    InsertionMode = InsertionMode.Replace, // Replace the existing contents
    OnBegin = "ClearDivJobs",
    OnSuccess = "SaveSearchValues"
}))
{
    <div class="row" style="padding:5px 0px 5px 0px">
        <div class="col-sm-12 col-md-3 jobSearchItem">
            Industry:  @Html.DropDownList("Industry", "Select Industry")
        </div>
        <div class="col-sm-12 col-md-3 jobSearchItem">
            Area:      @Html.DropDownList("Area", "Select Area")
        </div>
        <div class="col-sm-12 col-md-3 jobSearchItem">
            Job Type:  @Html.DropDownList("JobType", "Select Job Type")
        </div>
        <div class="col-sm-12 col-md-2 jobSearchItem">
            Location:  @Html.DropDownList("Location", "Select Location")
        </div>
        <div class="col-sm-12 col-md-1 jobSearchItem">
            <input type="submit" value="Search" class="btn btn-primary" />
        </div>
    </div>
}
