@{
    ViewBag.Title = "   Error";
}

<div class="alert alert-danger mt-1 mb-1">
    <h4>@ViewBag.ErrorMessage</h4>
    <hr />
</div>
<a asp-controller="Home" asp-action="Index" class="btn btn-outline-success" style="width:auto">
    Click here to navigate to homepage
</a>