@model IEnumerable<JobPortal.Models.DynamicActionLink>

<ul class="ul_jobLinks text-left">
    @if (Model != null)
    {
        foreach (var item in Model)
        {
            <li>
                @Ajax.ActionLink(item.LinkName, item.LinkAction, "SearchJobs",
                    new { searchBy = item.LinkSearchBy, searchValue = item.LinkSearchValue, area = "JobSeeker" },
                    new AjaxOptions
                    {
                        HttpMethod = "GET", // HttpMethod to use, GET or POST
                        UpdateTargetId = "divJobs", // ID of the HTML element to update
                        InsertionMode = InsertionMode.Replace, // Replace the existing contents
                        LoadingElementId = "divloading",
                        OnBegin = "ClearDivJobs"
                    })
            </li>
        }
    }
</ul>